### Env / OS ###
.env/
.venv/
*.log
.DS_Store

### VS Code ###
.vscode/

### Build ###
build/
dist/
*.egg-info/
*.pyc
*.pyo
__pycache__/

### Executorch ###
executorch-torch/
executorch/

### PyTest cache ###
.pytest_cache/